In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
master_frame_venture = pd.read_csv("master_df_SectorAnalysis1.csv", encoding='ISO-8859-1')

In [16]:
master_frame_venture = master_frame_venture.loc[(master_frame_venture['raised_amount_usd'] >= 5000000) & (master_frame_venture['raised_amount_usd'] <= 15000000)]

In [20]:
master_frame_venture.sort_values('raised_amount_usd', axis=0, ascending=False)

,category_list,country_code,funded_at,funding_round_permalink,funding_round_type,name,permalink,raised_amount_usd,status,sector
4594,biotechnology,USA,11-03-2014,/funding-round/b358b34617228299790f2b3f3e343662,venture,ON TARGET LABORATORIES,/organization/on-target-laboratories,15000000.0,operating,Cleantech / Semiconductors
37447,big data analytics,USA,08-01-2014,/funding-round/6bbf6cac4cf2565afa4cf8625dadb834,venture,Zephyr Health,/organization/zephyr-health,15000000.0,operating,"Social, Finance, Analytics, Advertising"
19537,messaging,USA,01-10-2005,/funding-round/1b5c279cb6fc888272c9bae10f549eab,venture,Kodiak Networks,/organization/kodiak-networks,15000000.0,operating,"News, Search and Messaging"
1851,biotechnology,USA,21-07-2010,/funding-round/55507f796c1c2519f5c721d8657e7997,venture,Cara Therapeutics,/organization/cara-therapeutics,15000000.0,ipo,Cleantech / Semiconductors
15281,hardware + software,USA,07-11-2006,/funding-round/230286eb3a6d483e68d1209e737da1e0,venture,AXSUN Technologies,/organization/axsun-technologies,15000000.0,operating,Manufacturing
...,...,...,...,...,...,...,...,...,...,...
10802,reviews and recommendations,USA,01-06-2007,/funding-round/108f9843c33f822a6e447578b2a6f596,venture,Viewpoints,/organization/viewpoints,5000000.0,operating,Entertainment
31288,analytics,USA,24-05-2011,/funding-round/a83bf4352db927f325b816bc68d19c9e,venture,Crimson Hexagon,/organization/crimson-hexagon,5000000.0,operating,"Social, Finance, Analytics, Advertising"
10869,photography,USA,20-08-2014,/funding-round/5d52220aca33b66e6474a0efb73765f4,venture,StudioNow,/organization/studionow,5000000.0,operating,Entertainment
10871,photography,USA,01-06-2015,/funding-round/55cd0f777ad2cfc023587460f711b0df,venture,taptalk,/organization/taptalk,5000000.0,operating,Entertainment
0,drones,USA,05-11-2012,/funding-round/2785595770e91ab8fd4854ef125ec563,venture,3D Robotics,/organization/3d-robotics,5000000.0,operating,Automotive & Sports

In [27]:
#pd.pivot_table(master_frame_venture, index=['country_code', 'sector'], values=['raised_amount_usd'], aggfunc=np.sum)
master_frame_venture.groupby(['country_code', 'sector']).raised_amount_usd.agg(['count', 'sum'])

                                                      count           sum
country_code sector
GBR          Automotive & Sports                         16  1.670516e+08
             Cleantech / Semiconductors                 130  1.163990e+09
             Entertainment                               56  4.827847e+08
             Health                                      24  2.145375e+08
             Manufacturing                               42  3.619403e+08
             News, Search and Messaging                  73  6.157462e+08
             Others                                     147  1.283624e+09
             Social, Finance, Analytics, Advertising    133  1.089404e+09
IND          Automotive & Sports                         13  1.369000e+08
             Cleantech / Semiconductors                  20  1.653800e+08
             Entertainment                               33  2.808300e+08
             Health                                      19  1.677400e+08
             Manufacturing                               21  2.009000e+08
             News, Search and Messaging                  52  4.338345e+08
             Others                                     110  1.013410e+09
             Social, Finance, Analytics, Advertising     60  5.505496e+08
USA          Automotive & Sports                        167  1.454104e+09
             Cleantech / Semiconductors                2350  2.163343e+10
             Entertainment                              591  5.099198e+09
             Health                                     909  8.211859e+09
             Manufacturing                              799  7.258553e+09
             News, Search and Messaging                1583  1.397157e+10
             Others                                    2950  2.632101e+10
             Social, Finance, Analytics, Advertising   2714  2.380738e+10