### Load the companies and rounds data  into two data frames and name them companies and rounds2 respectively.

In [1]:
import pandas as pd
import numpy as np

In [2]:
companies = pd.read_csv("companies.txt", sep='\t', encoding='ISO-8859-1')
rounds2 = pd.read_csv("rounds2.csv", encoding='ISO-8859-1')

In [3]:
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [4]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

### How many unique companies are present in rounds2?

In [5]:
print('Total number of companies in rounds2 file: {}'.format(len(rounds2)))
print('Out of which total number of unique companies listed are: {}'.format(len(rounds2['company_permalink'].unique())))

Total number of companies in rounds2 file: 114949
Out of which total number of unique companies listed are: 90247

There are possibilities that company_permalink is case-sensitive, hence lets normalise this either to lower/upper case and then find the unique companies

In [6]:
rounds2['company_permalink'] = rounds2['company_permalink'].str.lower()
print('Post converting the column data to lower case, total number of unique companies listed in rounds2 are: {}'.format(len(rounds2['company_permalink'].unique())))

Post converting the column data to lower case, total number of unique companies listed in rounds2 are: 66370

### How many unique companies are present in companies?

In [7]:
print('Total number of companies in companies file: {}'.format(len(companies)))
print('Out of which total number of unique companies listed are: {}'.format(len(companies.permalink.unique())))

Total number of companies in companies file: 66368
Out of which total number of unique companies listed are: 66368

Lets also convert companies permalink column into lower/upper case to get the unique data

In [8]:
companies['permalink'] = companies['permalink'].str.lower()
print('Post converting the column data to lower case, total number of unique companies listed are: {}'.format(len(companies['permalink'].unique())))

Post converting the column data to lower case, total number of unique companies listed are: 66368

There is no change in unique numbers, hence we go with that.

However, There seem to be 2 extra permalinks in the rounds2 file which are not present in the companies file. Let's hope that this is a data quality issue, since if this were genuine, we have two companies whose investment round details are available but their metadata (company name, sector etc.) is not available in the companies table.

Let's have a look at the company permalinks which are in the 'rounds2' file but not in 'companies'.

In [9]:
rounds2.loc[~rounds2['company_permalink'].isin(companies['permalink']), :]

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
29597,/organization/e-cãbica,/funding-round/8491f74869e4fe8ba9c378394f8fbdea,seed,NaN,01-02-2015,NaN
31863,/organization/energystone-games-çµç³æ¸¸æ,/funding-round/b89553f3d2279c5683ae93f45a21cfe0,seed,NaN,09-08-2014,NaN
45176,/organization/huizuche-com-æ ç§ÿè½¦,/funding-round/8f8a32dbeeb0f831a78702f83af78a36,seed,NaN,18-09-2014,NaN
58473,/organization/magnet-tech-ç£ç³ç§æ,/funding-round/8fc91fbb32bc95e97f151dd0cb4166bf,seed,NaN,16-08-2014,1625585.0
101036,/organization/tipcat-interactive-æ²èÿä¿¡æ¯ç...,/funding-round/41005928a1439cb2d706a43cb661f60f,seed,NaN,06-09-2010,NaN
109969,/organization/weiche-tech-åè½¦ç§æ,/funding-round/f74e457f838b81fa0b29649740f186d8,venture,A,06-09-2015,NaN
113839,/organization/zengame-ç¦ æ¸¸ç§æ,/funding-round/6ba28fb4f3eadf5a9c6c81bc5dde6cdf,seed,NaN,17-07-2010,NaN

It appears that there are some special characters appearing which is resulting in the above output. This is basically due to Python encoding issue. To overcome this issue as suggesting in the below stackoverflow blog

https://stackoverflow.com/questions/45871731/removing-special-characters-in-a-pandas-dataframe

In [10]:
rounds2['company_permalink'] = rounds2['company_permalink'].str.encode('utf-8').str.decode('ascii', 'ignore')
rounds2.loc[~rounds2['company_permalink'].isin(companies['permalink']), :]

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
77,/organization/10north,/funding-round/b41ff7de932f8b6e5bbeed3966c0ed6a,equity_crowdfunding,NaN,12-08-2014,NaN
729,/organization/51wofang-,/funding-round/346b9180d276a74e0fbb2825e66c6f5b,venture,A,06-07-2015,5000000.0
2670,/organization/adslinked,/funding-round/449ae54bb63c768c232955ca6911dee4,seed,NaN,29-09-2014,100000.0
3166,/organization/aesthetic-everything-social-network,/funding-round/62593455f1a69857ed05d5734cc04132,equity_crowdfunding,NaN,12-10-2014,NaN
3291,/organization/affluent-attach-club-2,/funding-round/626678bdf1654bc4df9b1b34647a4df1,seed,NaN,15-10-2014,100000.0
...,...,...,...,...,...,...
110545,/organization/whodats-spaces,/funding-round/d5d6db3d1e6c54d71a63b3aa0c9278e6,seed,NaN,28-10-2014,30000.0
113839,/organization/zengame-,/funding-round/6ba28fb4f3eadf5a9c6c81bc5dde6cdf,seed,NaN,17-07-2010,NaN
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [11]:
len(rounds2['company_permalink'].unique())

66368

Now lets ensure companies dataset also does not have any special characters

In [12]:
companies['permalink'] = companies['permalink'].str.encode('utf-8').str.decode('ascii', 'ignore')
companies.loc[~companies['permalink'].isin(rounds2['company_permalink']), :]

Empty DataFrame
Columns: [permalink, name, homepage_url, category_list, status, country_code, state_code, region, city, founded_at]
Index: []

In [13]:
len(companies['permalink'].unique())

66368

This, the encoding issue seems resolved now. Let's write these (clean) dataframes int separate files so we don't have to worry about encoding problems again.

In [14]:
# write rounds2 file
rounds2.to_csv("rounds2_clean.csv", sep=',', index=False)

#write companies file
companies.to_csv("companies_clean.csv", sep=',', index=False)

In [20]:
# Lets quickly verify that there are 66368 unique companies in both the files and 
# that only the same 66368 are present in both files

# unique values
print(len(rounds2['company_permalink'].unique()))
print(len(companies['permalink'].unique()))

# present in rounds2, but not in companies
print(len(rounds2.loc[~rounds2['company_permalink'].isin(companies['permalink']), :]))

66368
66368
0

### In the companies data frame, which column can be used as the unique key for each company? Write the name of the column?

In [15]:
print("'permalink' should be treated as unique key column as it stands unique even if there is duplicate in company names.")
print("As its total unique count matches with total number of rows in the dataframe: {}".format(len(companies.permalink.unique())))

'permalink' should be treated as unique key column as it stands unique even if there is duplicate in company names.
As its total unique count matches with total number of rows in the dataframe: 66368

### Missing value treatment

In [25]:
# Missing values in companies df
companies.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [26]:
# Missing values in rounds2 df
rounds2.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

### Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame. Name the merged frame master_frame. How many observations are present in master_frame?

In [22]:
#master_frame = rounds2.merge(companies, how='inner', left_on='company_permalink', right_on='permalink')
master_frame = pd.merge(companies, rounds2, how='inner', left_on='permalink', right_on='company_permalink')

In [23]:
master_frame.shape

(114949, 16)

In [24]:
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [29]:
master_frame.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at',
       'company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [33]:
# Removing redundant columns
master_frame = master_frame.drop(['company_permalink'], axis=1)

### How many observations are present in master_frame?

In [36]:
len(master_frame.columns)

15

In [40]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 15 columns):
permalink                  114949 non-null object
name                       114948 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(14)
memory usage: 14.0+ MB

In [41]:
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [42]:
# Types of funding listed
master_frame['funding_round_type'].unique()

array(['venture', 'seed', 'undisclosed', 'equity_crowdfunding',
       'convertible_note', 'private_equity', 'debt_financing', 'angel',
       'grant', 'secondary_market', 'post_ipo_equity', 'post_ipo_debt',
       'product_crowdfunding', 'non_equity_assistance'], dtype=object)

In [43]:
# Missing values in master_frame df
master_frame.isnull().sum()

permalink                      0
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [44]:
# Missing values in master_frame df in terms of percentage
round((master_frame.isnull().sum() / len(master_frame.index)) * 100, 2)

permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

From the business perpective all the columns having some percentage of null values are less impactful, except that of 'raised_amount_usd' which is the main component for our calcualtions. Hence lets get drop the column columns

In [45]:
master_frame = master_frame.drop(['homepage_url', 'state_code', 'region', 'city', 'founded_at', 'funding_round_code'], axis=1)

In [46]:
# Missing values in master_frame df in terms of percentage
round((master_frame.isnull().sum() / len(master_frame.index)) * 100, 2)

permalink                   0.00
name                        0.00
category_list               2.97
status                      0.00
country_code                7.55
funding_round_permalink     0.00
funding_round_type          0.00
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

Now lets deep-dive into 'raised_amount_usd'

In [47]:
master_frame['raised_amount_usd'].describe()

count    9.495900e+04
mean     1.042687e+07
std      1.148212e+08
min      0.000000e+00
25%      3.225000e+05
50%      1.680511e+06
75%      7.000000e+06
max      2.127194e+10
Name: raised_amount_usd, dtype: float64

In [48]:
master_frame['raised_amount_usd'].isnull().sum()

19990

The mean is somewhere around USD 10 million, while the median is only about USD 1m. The min and max values are also miles apart.

In general, since there is a huge spread in the funding amounts, it will be inappropriate to impute it with a metric such as median or mean. Also, since we have quite a large number of observations, it is wiser to just drop the rows.

Lets thus remove the rows having NaNs in raised_amount_usd.

In [49]:
# Removing rows with NaNs in raised_amount_usd
master_frame = master_frame[~np.isnan(master_frame['raised_amount_usd'])]
round((master_frame.isnull().sum() / len(master_frame.index)) * 100, 2)

permalink                  0.00
name                       0.00
category_list              1.10
status                     0.00
country_code               6.16
funding_round_permalink    0.00
funding_round_type         0.00
funded_at                  0.00
raised_amount_usd          0.00
dtype: float64

In [50]:
country_codes = master_frame['country_code'].astype('category')

In [51]:
# Displaying frequencies of each category
country_codes.value_counts()

USA    62049
GBR     5019
CAN     2616
CHN     1927
IND     1649
       ...
HND        1
GRD        1
GGY        1
DZA        1
KNA        1
Name: country_code, Length: 134, dtype: int64

In [52]:
round((country_codes.value_counts() / len(master_frame.index)) * 100, 2)

USA    65.34
GBR     5.29
CAN     2.75
CHN     2.03
IND     1.74
       ...
HND     0.00
GRD     0.00
GGY     0.00
DZA     0.00
KNA     0.00
Name: country_code, Length: 134, dtype: float64

Now, we can either delete the rows having country_code missing (about 6% rows), or we can impute them by USA. Since the number 6 is quite small, and we have a decent amount of data, it may be better to just remove the rows.

Note that np.isnan does not work with arrays of type 'object', it only works with native numpy type(float). Thus, you can use pd.isnull() instead.

In [53]:
# Removing rows with NaNs in country_code
master_frame = master_frame[~pd.isnull(master_frame['country_code'])]
round((master_frame.isnull().sum() / len(master_frame.index)) * 100, 2)

permalink                  0.00
name                       0.00
category_list              0.65
status                     0.00
country_code               0.00
funding_round_permalink    0.00
funding_round_type         0.00
funded_at                  0.00
raised_amount_usd          0.00
dtype: float64

Also, lets remove NaN rows from 'category_list', which is very less

In [60]:
# Removing rows with NaNs in category_list
master_frame = master_frame[~pd.isnull(master_frame['category_list'])]
round((master_frame.isnull().sum() / len(master_frame.index)) * 100, 2)

permalink                  0.0
name                       0.0
category_list              0.0
status                     0.0
country_code               0.0
funding_round_permalink    0.0
funding_round_type         0.0
funded_at                  0.0
raised_amount_usd          0.0
dtype: float64

In [61]:
# Writing the clean dataframe into the file.
master_frame.to_csv('master_df.csv', sep=',', index=False)

In [62]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88529 entries, 0 to 114947
Data columns (total 9 columns):
permalink                  88529 non-null object
name                       88528 non-null object
category_list              88529 non-null object
status                     88529 non-null object
country_code               88529 non-null object
funding_round_permalink    88529 non-null object
funding_round_type         88529 non-null object
funded_at                  88529 non-null object
raised_amount_usd          88529 non-null float64
dtypes: float64(1), object(8)
memory usage: 6.8+ MB

In [63]:
# After missing values treatment, approx. 77% observations are retained
(len(master_frame.index))/(len(rounds2.index))*100

77.01589400516751

In [39]:
# Saving the merged master frame for further analysis
master_frame.to_csv("master_df.csv", sep=',', index=False)